*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    height: 64px;
    padding: 18px 35px;
color: azure;
}
/* header and navigation style */
nav{
    display: flex;
}
.nav-title{
    font-weight: 800;
font-size: 45px;
color: #181818;
}

nav li{
    list-style: none;
    margin-left: 20px;

}
nav ul{
    display: flex;
    align-items: center;
}
nav{
    justify-content: space-between;
    margin: 50px 200px;
}
/* banner styles */
.banner{
    margin: 0px 200px;
    display: flex;
    align-items: center;

}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    color: #181818;
    margin-bottom: 20px;
}
.banner-sub-title{
    font-weight: 600;
font-size: 45px;
line-height: 61px;
color: #474747;
margin-bottom: 30px;

}
.banner-description{
    font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #757575;
margin-bottom: 20px;
}

